#top
{
    position:absolute;
    left: 20%;
    bottom: 20%;
    background-color:yellowgreen;
    border-style: solid;
    border-color: green;
    border-width: .2cm;
    padding-left: 5%;
    width: 40%;
    

}
#bottom
{
    margin-top: 10%;
        margin-left: 50%;
    background-color:rgb(180, 243, 6);
    border-style: solid;
    border-color: rgb(0, 128, 21);
    border-width: .2cm;
    width: 40%;
         padding-left: 5%;
}

h2
{
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin: 0;
}
h1
{
    font-family: 'Potta One', cursive;
    text-align: center;
}